.Table1 {
    margin: auto;
    text-align: center;
    color: black;
    background-color: grey;
    border-radius: 5px;
}
.Table2 {
    margin: auto;
    text-align: center;
    color: white;
    background-color: black;
}
th, td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    background-color: aqua;
    border-radius: 5px;
}